body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(http://www.hlgjyl888.com/data/wallpapers/184/WDF_2232404.jpg) no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}
