<!DOCTYPE html>
<html lang="en" ng-app="main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hobby</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href="stylesheets/style.css" >
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body >
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={{home}} >Hobby</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <form ng-show ='active' class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form> -->
      <ul ng-hide ='active' class="nav navbar-nav navbar-right">
        <li><a href="#/" >Login</a></li>
         <li><a href="#/register">Register</a></li>
        
      </ul>
      <ul ng-show ='active' class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand header" href="#/main">{{username | uppercase}}</a></li>
         <li><a ng-click = 'logout()' href="">Logout</a></li>
        
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ng-view></div>
            <script src="javascripts/jquery.js"></script>
            <script src="bootstrap/dist/js/bootstrap.min.js"></script>
          

            <script src="bootstrap/js/collapse.js"></script>
            <script src="angular/angular.min.js"></script>
            <script src="angular-route/angular-route.min.js"></script>
            <script src="javascripts/mainApp.js"></script>
            <script src="javascripts/authenticate.js"></script>
            <script src="javascripts/factories.js"></script>


     
    

    
  </body>
</html>