<div  style="margin-top:30px">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" >
    <div class="panel-heading"><h3 class="panel-title"><strong>LOG IN </strong></h3></div>
    <div class="panel-body">
       <form ng-submit="auth.login()" role="form">
      <div class="form-group">
        <label >USERNAME</label>
        <input type="text" ng-model='auth.user.username' class="form-control" placeholder="Username" required="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">PASSWORD</label>
        <input type="password" ng-model='auth.user.password' class="form-control" id="exampleInputPassword1" placeholder="Password" required="">
      </div>
      <button type="submit" class="btn btn-sm btn-default">LOGIN</button>
      <p>{{auth.message}}</p>
      <a class="pull-right" href="#/register">Register</a>
      </form>

    </div>
  </div>
  </div>

</div>
