
<div class="container">
    <br>
    <hr>
    <div class="row">
   <div ng-show="justRegistered" class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" ng-click="set()" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>A confirmation e-mail would be sent to you from amazon ses</div>
    <h2 class="col-md-4">HELLO, {{username | uppercase}}!!</h2>


    </div>

    <br>
    <br>
    <hr>


    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
        <div class="form-group">
              <input type="text" ng-model="hobby.name" class="form-control" placeholder="Hobby">
            </div><a href=""  ng-click ='Add(hobby)' class="btn btn-primary btn-xs pull-right"><b>+</b> Add new hobbies</a>
            <tr>
                
                <th>Hobbies</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
                <tr ng-repeat="hob in list | orderBy: 'date':true">
                    
                    <td>{{hob.name | uppercase}}</td>
                    <td>{{hob.date | date:"h:mma 'on' MMM d,y"}}</td>
                    <td class="text-center"><a href="" ng-click="Del(hob)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
                
        </table>
        </div>
    </div>

</div>