<div class="container" style="margin-top:30px">
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" >
  <div class="panel-heading"><h3 class="panel-title"><strong>REGISTER</strong></h3></div>
  <div class="panel-body">
   <form ng-submit= 'reg.Register()' role="form">
  <div  class="form-group">
    <label >USERNAME</label>
    <input type="text" ng-model='reg.user.username' class="form-control" placeholder="Username" required="">
  </div>
  <div class="form-group">
    <label >PHONE NUMBER</label>
    <input type="text" ng-model='reg.user.no' class="form-control" placeholder="Phone number" required="">
  </div>
  <div class="form-group">
    <label >E-MAIL</label>
    <input type="email" ng-model='reg.user.email' class="form-control" placeholder="E-mail" required="">
     <span class="help-block">Email will be used for notication messages</span> 
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">PASSWORD</label>
    <input type="password" ng-model='reg.user.password' class="form-control" id="exampleInputPassword1" placeholder="Password" required="">
  </div>
  <button type="submit" class="btn btn-sm btn-default">REGISTER</button>
  <p>{{reg.message}}</p>
</form>

  </div>
</div>
</div>

</div>
